
#container input{
    width: 250px;
    background-color: whitesmoke;
    margin-bottom: 20px;
}
#container img{
    margin-bottom: 30px;
}

#container button{
    width: 250px;
}

#container a{
    text-decoration: none;
    color: lightsalmon;
}

#container a:hover{
    text-decoration: none;
    color: lightsalmon;
}